
hr {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

.coo {
    /*float: left;*/
    display:inline-block;
}

.white-popup {
    position: relative;
    background: white;
    color: gray;
    padding: 20px;
    width: auto;

}

